/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.header {
  height: 70px;
  width: 100%;
  background-color: #49612b;
}

.logo {
  float: left;
}

.logo img {
  margin: 3px 0 0 25px;
}

.navbar {
  float: right;
  margin: 0 25px 0 0;
  height: 70px;
  line-height: 70px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.navbar ul li {
  display: inline;
  margin: 0 20px 0 0;
}

.form_con {
  background-color: #49612b;
  margin: 0 auto 0 auto;
  text-align: center;
  margin: 15% 0 0 0;
  height: 100%;
}

.form_con label, .form_con h2 {
  color: white;
}

tr {
  text-align: center;
}

.form_con input#user_username, .form_con input#user_password, .form_con input#user_password_confirmation {
  height: 30px;
  width: 280px;
  border-radius: 10px;
  padding: 5px;
  border: 0;
  margin: 0 0 15px 0;
}

.form_con input#admin_username, .form_con input#admin_password {
  height: 30px;
  width: 280px;
  border-radius: 10px;
  padding: 5px;
  border: 0;
  margin: 0 0 15px 0;
}

.actions input {
  border-radius: 10px;
  padding: 5px;
  width: 100px;
}

table {
  width: 75%;
  margin: 25px auto 0 auto;
  position: relative;
  border-collapse: collapse;
  border: 3px solid #49612b;
  table-layout: fixed;
  white-space: nowrap;
}

.table {
    min-width: 1150px;
}

.approval_link {
  padding: 15px;
  border-radius: 15px;
  background-color: #49612b;
  width: 185px;
  color: white!important;
  text-align: center;
  margin: 15px 0 0 0;
}

.pag_new {
  width: 500px;
  height: 35px;
  margin: 0 auto 25px auto;
}

.new_link {
  padding: 7px;
  border-radius: 15px;
  background-color: #49612b;
  width: 145px;
  color: white!important;
  text-align: center;
  margin: 15px auto 0 auto;
  height: 19px;
}

.link_holder {
  width: 500px;
  margin: -64px auto 0 auto;
  height: 65px
}

.link_holder_anti {
  width: 900px;
  margin: 0px auto 0 auto;
  height: 65px
}

.editlink {
  margin: 15px 0 0 135px;
}

.link_holder_anti div {
  display: inline-block;
}

.left {
  float: left;
}

.actionscss input {
  padding: 15px;
  border-radius: 15px;
  background-color: #49612b;
  width: 145px;
  color: white!important;
  text-align: center;
  margin: 15px 0 0 0;
  box-shadow: none;
  border: none;
}

.paginate {
  color: white;
  background-color: #49612b;
  border-radius: 15px;
  width: 140px;
  padding: 7px;
  text-align: center;
  margin: 15px auto 0 auto;
}

.paginate a {
  text-decoration: underline;
}

.paginate span {
  margin: 0 7px 0 0;
}

.right {
  float: right;
}

a {
  color: inherit;
  text-decoration: none;
}

.week {
  text-align: center;
  margin: 50px 0 0 0;
}

.days {
  background-color: #49612b!important;
  color: white;
}

.table {
  width: 55%;
  margin: 4% auto 0 auto;
}

th, td {
  border: 1px solid #49612b;
  min-width: 130px;
  width: 140px!important;
}

td input {
  width: 135px!important;
}

tr {
  height: 40px;
}

.user_table {
  float: left;
  width: auto;
  top: 0;
  margin: 0;
  border-collapse: collapse;
  border-right: 0px;
  background-color: #49612b;
  color: white;
}

.user_table th {
  border: none;
  border-top: 1px solid #49612b!important;
}

.rotum_table {
  width: auto;
}

td div {
  width: 100%;
  height: 37px;
  line-height: 37px;
}